
@font-face {
    font-family: 'animalhubBold';
    src: url(../src/assets/fonts/Barlow-Bold.ttf);
}

@font-face {
    font-family: 'animalhubSemiBold';
    src: url(../src/assets/fonts/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: 'animalhubMedium';
    src: url(../src/assets/fonts/Barlow-Medium.ttf);
}

@font-face {
    font-family: 'animalhubRegular';
    src: url(../src/assets/fonts/Barlow-Regular.ttf);
}


